/* Footer styles */
.footer {
    background-color: #1e202a;
    color: #fff;
    padding: 2px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

